<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">

    <link
      href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />
    <title>Prechu</title>
  </head>
  <body>
    <div class="container">
      <div class="nav-wrapper">
        <div class="logo">
          <img
            src="{% static 'portfolio/img/logo/logo-1.jpg' %}"
            alt="Prechu"
            width="44px"
            height="44px"
          />
          <span class="text-logo">Prechu</span>
        </div>
        <div class="nav__desktop">
          <a href="#" class="nav__item nav__item--active">Home</a>
          <a href="#" class="nav__item">Products</a>
          <a href="#" class="nav__item">Services</a>
          <a href="#" class="nav__item">Contact</a>
        </div>
        <div class="nav__mobile">
          <img src="{% static 'portfolio/img/tools/responsive.jpg' %}" alt="mobile" />
        </div>
      </div>
    </div>
    <header class="header">
      <div class="container">
        <img
          src="{% static 'portfolio/img/tools/Layer_5.png' %}"
          alt="shooter"
          class="shooter-1"
          width="25px"
          height="63px"
        />
        <div class="header__image">
          <img src="{% static 'portfolio/img/tools/iphone.png' %}" alt="Iphone"  />
        </div>
        
       
        <div class="header__text">
          <div class="header__text-title">
            <p>
              Lorem Ipsum is simply <br>
              dummy text of the <br />
              printing & typesetting
            </p>
          </div>
          <div class="header__text-btn">
            <img
              src="{% static 'portfolio/img/tools/Shape_2.png' %}"
              alt="shape"
              width="23px"
              height="23px"
            />
            <span>Sign up now</span>
          </div>
        </div>
        <img
          width="25px"
          src="{% static 'portfolio/img/tools/Layer_6_copy.png' %}"
          alt="shooter"
          class="shooter-2"
          height="63px"
        />
        </div>
      </header>
    </header>
    <div class="main">
      <div class="container">
        <div class="main-block">
          <div class="main__item">
            <div class="main__item-img">
              <p align="center">
                <img src="{% static 'portfolio/img/tools/tool-1.jpg' %}" alt="tool-1" />
              </p>
            </div>

            <div class="main__item__text">
            <div class="main__item-title">
              <h2>Contrary to popular</h2>
            </div>

            <div class="main__item-para">
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece
              </p>
            </div>
            </div>
          </div>

          <div class="main__item">
            <div class="main__item-img">
              <p align="center">
                <img src="{% static 'portfolio/img/tools/tool-2.jpg' %}" alt="tool-1" />
              </p>
            </div>
            <div class="main__item__text">
            <div class="main__item-title">
              <h2>Contrary to popular</h2>
            </div>
            <div class="main__item-para">
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece
              </p>
              </div>
            </div>
          </div>

          <div class="main__item">
            <div class="main__item-img">
              <p align="center">
                <img src="{% static 'portfolio/img/tools/tool-3.jpg' %}" alt="tool-1" />
              </p>
            </div>
            <div class="main__item__text">
                <div class="main__item-title">
                  <h2>Contrary to popular</h2>
                </div>
                <div class="main__item-para">
                  <p>
                    Lorem Ipsum is not simply random text. It has roots in a piece
                  </p>
                  </div>
                </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shopping">
        <div class="container">
          <div class="shopping__title">
            <p>The Shopping cart</p>
          </div>
          <div class="center">
            <div class="shopping__img">
              <p>
              <img
                src="{% static 'portfolio/img/tools/Cart-1.jpg' %}"
                alt="Cart"
                width="371px"
                height="279px"
              />
              </p>
            </div>
            <div class="shopping-text">
              <div class="shopping__heading">
                <p>Some Bullet text here</p>
              </div>
              <div class="shopping__para">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  Lorem Ipsum has been the industry's standard dummy text ever
                  When an unknown printer took a galley of type and scrambled It
                  to make a type specimen book. It has survived not only five
                  centuries But also the leap into electronic typesetting,
                  Remaining essentially unchanged. It was popularised The release
                  of Letraset sheets containing Lorem Ipsum passages
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer class="container">
        <div class="footer-center">
          <p>Copyright © 2012-2013 cssauthor.com</p>
        </div>
      </footer>
  </body>
</html>
